<div class="flex-wrap space-y-4 md:flex md:flex-nowrap md:space-y-0 md:space-x-10">
  <%= render 'shared/settings_nav' %>
  <div class="md:flex-grow max-w-xl">
    <h1 class="text-4xl font-bold mb-4"><%= @team.name %></h1>
    <%= render 'form', team: @team %>
  </div>
</div>
