<% if @sso_enabled %>
  <% unless @force_sso_enabled %>
    <div class="divider my-2 text-gray-400 text-sm"><%= t('or') %></div>
  <% end %>
  <%= button_to t('sign_in_with_sso'), user_oidc_omniauth_authorize_path,
                method: :post,
                form: { data: { turbo: false } },
                class: 'base-button btn-outline w-full' %>
<% end %>
